{% extends 'base.html' %} {% block content %}

<!-- Begin Service-section -->
<section id="services" class="services-section section-global-wrapper">
    <div class="container">
      <div class="container">
  <a>{{last}}</a>
  <h1> Password Changing </h1>
  <form method="POST" action="{% url 'inside:user_change_password' %}">
    <table>
 <form method="post">
      {% csrf_token %}
      {% for field in form %}
    <tr>
      <th>{{ field.label_tag }} </th>
        <td>
          <div class="form-group">
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
        </td>
    </tr>
            {% endfor %}
    <tr>
      <td></td>
      <td><button  class="primary-btn" type="submit">Change Password</button></td>
  </tr>
</form>
</table>
</div>





</section>

{% endblock %}
